html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}
.jbnb-map-dimensions{
  width: 100%;
  min-height: 529px;

}
.jbnb-hero-container{
  background-image: url('../images/fa-banner-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.jbnb-search-container{
  flex: 0 0 auto;
  width: 100%;
}
.jbnb-search-container form{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.jbnb-search-container form div{
    flex: 0 0 auto;
}
.jbnb-results{
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: none;
}
.jbnb-zip-code-field {
  width: 100px;
}
.jbnb-header-container{
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  
}
.jbnb-header-container h2{
  font-family: 'Playfair Display', serif;
}
.jbnb-white-image{
  width: 100%;
}
.jbnb-table{
  max-height: 700px;
  width: 100%;
  overflow-y: auto;
  table-layout: fixed;
}
.jbnb-table tr{
  cursor: pointer;
}
.jbnb-table-column--job-title{
  min-width: 150px;
}
.jbnb-table-column--company{
  min-width: 100px;
}
.jbnb-table-column--url{
  width: 86px;
}
.jbnb-table-column--post-age{
  width: 112px;
}
.jbnb-pagination{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.jbnb-pagination__previous-jobs, .jbnb-pagination__next-jobs{
  flex: 0 0 auto;
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  .jbnb-header-container h5{
    display: none;
  }
  tr>th:nth-child(even),  tr>td:nth-child(even) {
    display: none;
  }
}

/* material design overrides*/
.mdl-textfield__label{
  color: black;
}
.mdl-textfield__input{
  color: black;
  border-bottom-color: black;
}
.mdl-textfield{
  margin-right: 15px;
}
.mdl-dialog{
  width: 350px;
}
.mdl-data-table__cell--non-numeric{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

